/* FONTS */
$headingFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Merriweather Sans', sans-serif;

/* COLORS */
$bgColor: #0B1B33;
$bgColorHover: #1A2E4A;
$fontColor: #ffffff;
$fontColorHover: #c9cfd8;
$accentColor: #D65422;
$accentColorHover: #ce461c;

/* FONT SIZES */
$h1Size: 2.5rem;
$h2Size: 2rem;
$h3Size: 1.5rem;
$pSize: 1rem;
$itemDetailsSize: 0.75rem;

/* FONT WEIGHTS */
$headingLight: 300;
$headingRegular: 400;
$bodyLight: 300;
$bodyRegular: 400;